
/*
CSS RESETS
*/


/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}


/* Respect user font settings */
html {
  font-size: 100%;
}

/* Color Variables */
:root {
--bg: #565f61;
--Text:#a8c1c9;
  
}


/* General CSS*/

body{
    padding: 50; 
    color: var(--Text);
    background-color: var(--bg);
}

h2{
    padding: 10; 
}

.STARB{
  background: none;
    border: none;
    font-size: 3rem;
}
main{
    max-width: 60rem;
    margin: 0 8rem;
}

.hidden{
    display: none;
}

