
/*
CSS RESETS
*/


/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}


/* Respect user font settings */
html {
  font-size: 100%;
}


/* Make images responsive */
img {
  max-width: 100%;
  display: block;
}

/* Color Variables */
:root {
--bg: #040924;
--Text:#a8c1c9;
  
}

body.dark{
--bg: #0e021f;
--Text:#baa8c9;
}



/* General CSS*/



body{
    color: var(--Text);
    background-color: var(--bg);
}

header{
    padding: 25rem;
     font-size: 2rem;
  
}

.STARB{
  background: none;
    border: none;
    font-size: 3rem;
}
main{
    max-width: 60rem;
    margin: 0 8rem;

}
img{
    width: 15rem;
}

.hidden{
    display: none;
}



/* gifs*/

#img1 {
    position: absolute;
    top: 3rem;
    right: 5rem;
}

 #img2 {
    position: absolute;
    top: 3rem;
    right: 10rem;
}
#co1, #co11 {
    position: absolute;
    top: 2rem;
}

#co2, #co22 {
    position: absolute;
    top: 5rem;
    left: 26rem;
}

#co3, #co33 {
    position: absolute;
    top: 7rem;
    right: 20rem;
}

#co4, #co44 {
    position: absolute;
    top: 43rem;
   
}

#co5, #co55 {
    position: absolute;
    top: 9rem;
    right:55rem;
}

#co6, #co66 {
    position: absolute;
    top: 56rem;
    right: 57rem;
}

#co7, #co77 {
    position: absolute;
    top: 29rem;
    right: 15rem;
}

#co8, #co88 {
    position: absolute;
    top: 55rem;
    left:86rem;
}

#co9, #co99 {
    position: absolute;
    top: 26rem;
    left:2rem;
}

#co10, #co100 {
    position: absolute;
    top:34rem;
    left:62rem;
}

#co0, #co00 {
    position: absolute;
    top: 40rem;
    left:28rem;
}

#co, #coc {
    position: absolute;
    top: 65rem;
    right: 85rem;
}

/* extra gifs*/

#s1, #tx1 {
    position: absolute;
    top: 40rem;
    left: 15rem;
}

#s2, #tx2 {
    position: absolute;
    top: 16rem;
    left: 65rem;
}

#s3, #tx3 {
    position: absolute;
     top: 10rem;
    right: 90rem;
}


#s4, #tx4 {
    position: absolute;
    top: 38rem;
    right: 59rem;
}


#s5, #tx5 {
    position: absolute;
    top: 67rem;
   
}

#s6, #tx6 {
    position: absolute;
    top: 60rem;
    right: 38rem;
}


#s7, #tx7 {
    position: absolute;
    top: 70rem;
    right: 63rem;
   
}
