

.gif3 {
    position: absolute;
    top: 20px;
    left: 30px;
    
}
.text {
    position: relative;
    margin: 50px auto;
    max-width: 600px;
    font-size: 4rem;
}
.gif2 {
    position: absolute;
    top: 30px;
    left: 30px;

}