
/*CSS resets*/

*{
    margin:0;
    padding: 0;
}
/*Respect user size font preference*/

html{
    font-size: 100%;
}

/*General CSS*/
body {
    background-color: #4b756c;
    font-family: cursive;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #072419;
}

nav {
    position: absolute;
    right: 2rem;
    top: 1rem;
}
nav a {
text-decoration: none;
color: #ffffff;
}
header{
    padding: 5rem ;
    margin-bottom: 3rem;
    background-color: #213631;
    text-align: center;
    color: #9cc7b6;
    border-bottom: #041b12 2px solid;
}

header h1{
font-size: 3rem;
}

.about-section, .portfolio-section, .contact-section {
    margin-bottom: 3rem;
}

.about-content, .portfolio-content, .contact-content {
    max-width: 45rem;
    margin:2rem auto;
 }

.about-content h2, .portfolio-content h2, .contact-content h2 {
margin: 2rem 0;
}
.portfolio-item {
    margin-bottom: 5rem;
    padding: 3rem;
    background-color: #618b91;
     text-align: justify;
     border-radius: 2rem;
     box-shadow: 0 4px 12px #00000014;
    /*multiple color border: border-color:#618b91 #618b91 #618b91 #618b91 */
}
.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
border-radius: 1rem;
}

.portfolio-section {
    background-color: #718d8b;
    text-align: center;
    padding: 1rem 0;
}


.about-section {
    background-color: #718d8b
}

footer {
    background-color: #1b3131;
    color: #9cc7b6;
    padding: 2rem;
    font-size: 1rem;
}